
function _bcal() {
  cd ~/development/shared/java/Birthdays_Cal/src
  rlwrap java src/BirthDayCalendar
  cd -
}

function cs() {
  cd "$@" && ls
}

function latexc() {
  
  pdflatex "$@".tex
  bibtex "$@".aux
  pdflatex "$@".tex
  pdflatex "$@".tex

  if [ ! -d "out/" ];
  then 
  	mkdir out
  fi
	
  EXTS="aux bbl blg log out toc"
  for EXT in $EXTS; do
	mv "$@".$EXT out/	
  done

  open "$@".pdf
}
